<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>cf-env-boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>

    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link href="css/style.css" rel="stylesheet" media="screen"> </link>
</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span></a>
            <a class="navbar-brand" href="/">cf-env-boot</a>
        </div>
    </div><!--/.container -->
</nav>

<div class="container">

    <div class="row">
        <h1>cf-env-boot</h1>
        <ul class="nav nav-tabs">
            <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI().equals('/') ? 'active':''}"><a href="/">Home</a></li>
            <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/server-info') ? 'active':''}"><a href="/server-info">Server Info</a></li>
            <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/headers-info') ? 'active':''}"><a href="/headers-info">Headers Info</a></li>
            <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/system-environment') ? 'active':''}"><a href="/system-environment">System Environment</a></li>
            <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/environment') ? 'active':''}"><a href="/environment">Java Environment</a></li>
            <li role="presentation" th:if="${@environment.acceptsProfiles('cloud')}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/vcap-application') ? 'active':''}"><a href="/vcap-application">VCAP_APPLICATION</a></li>
            <li role="presentation" th:if="${@environment.acceptsProfiles('cloud')}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/vcap-services') ? 'active':''}"><a href="/vcap-services">VCAP_SERVICES</a></li>
        </ul>
        <br/>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" th:text="${name}">Heading</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered monospaced">
                    <tr>
                        <th>Variable</th>
                        <th>Value</th>
                    </tr>
                    <tr th:each="row: ${variables}">
                        <td th:text="${row.key}">No key</td>
                        <td th:text="${row.value}">No value</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
